#dom
    margin-top: 20px
    .box
        width: 220px
        background-color: #9c6644
        border-radius: 8%
        h1
            font-weight: bold
            margin: 18px 0
            color: #ffff
            font-size: 34px
        .input
            line-height: 2.3
            cursor: pointer
        .mini
            margin: 20px 0
            border-radius: 3%
            .btn
                background-color: #ffff
                width: 48px